{% extends 'walldb/base.html' %}
{% load bootstrap3 %}

{% block main-content %}
    <div class="container">
        <div class="row row-centered">

            <div class="col-md-12">
                <h2>Edit profile</h2>
                <div class="row row-centered">
                    <div class="col-md-6">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form %}

                            <button type="submit" class="btn btn-default">Save</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        Note that:
                        <ul>
                            <li>Avatar should be appropriate. No nudity, gore, racism, etc.</li>
                            <li>The image gets shown at 80x80 pixels.</li>
                            <li>The image gets cropped to a 1:1 aspect ratio without stretching.</li>
                            <li>Maximum image size is 300kb.</li>
                            <li>The allowed file types are: .png, .jpg and .bmp</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}