{% extends 'walldb/base.html' %}
{% load static bootstrap3 %}

{% block main-content %}
    <div class="container">
        <div class="row row-centered">

            <div class="col-md-2"></div>
            <div class="col-md-8">
                <h2>Upload</h2>
                <div class="row row-centered">
                    <div class="col-md-6">
                        <p>Upload your own wallpapers (max 5 each time). These will get visible after being accepted by an admin. This
                           can take a couple of days.</p>

                        <form method="post" class="wallpaper-upload" action="{% url 'walldb:wallpaper:upload' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ formset.management_form }}

                            {{ formset.non_form_errors }}

                            {% bootstrap_formset formset %}

                            <button type="submit" class="btn btn-default">Upload</button>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <p>Please follow these rules when uploading your own wallpapers:</p>
                        <ul>
                            <li>Appropiate images: no nudity, gore, racism, etc.</li>
                            <li>Decent image quality</li>
                            <li>Maximum image size of 10MB per wallpaper.</li>
                            <li>The allowed file types are .png and .jpeg</li>
                        </ul>

                        <p><strong>Your wallpaper could get rejected without any reason. You currently will not get notified of this
                        in any way! This will get added in the near future though.</strong></p>

                        <p>Accepted wallpapers will be visible in your <a href="{% url 'walldb:user:details' id=user.pk %}">
                            profile page</a> (see 'Uploaded by you').</p>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <script type="text/javascript">

    </script>
{% endblock %}